/* FOR ALL ELEMENTS */

* {
    font-family: Montserrat;

    scrollbar-width: none;
    scroll-behavior: smooth;

    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}

html, body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(fonts/Montserrat-Bold.ttf);
}

input:focus, textarea:focus{
    outline: none;
}

/* HEADER */

header {
    width: 95%;
    height: 50px;
    margin-left: 2.5%;

    position: fixed;

    display: flex;
    align-items: center;

    background-color: #965E4C;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 10px;
}

header a{
    width: 34%;
    height: 35px;
    font-size: 1.6em;
    text-align: center;
    
    text-decoration: none;
    color: white;
}

/* FOOTER */

footer {
    width: 100%;
    height: 15rem;

    display: flex;
    align-items: center;
    
    background-image: linear-gradient(#6E3C29, #4D1E14);
    box-shadow: 0px 5px 20px;
}

footer img{
    width: 34%;
    height: 200px;
    object-fit: cover;
    
    /*border: 1px solid red;*/
}

footer p{
    width: 34%;
    height: 200px;
    
    text-align: center;
    padding-left: 5px;
    padding-top: 30px;
    
    overflow: scroll;
    /*border: 1px solid red;*/
}

hr {
    min-height: 80%;
    max-height: 100vh;
    margin: 0;
}

/* FEEDBACK FORM */

.feedback_form{
    width: 34%;
    height: 200px;
    /*border: 1px solid red;*/
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    padding-left: 15px;
}

.feedback_form textarea{
    height: 100%;
    width: 80%;
    
    resize: none;
    
    background-color: #D39775;
    border: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    
    
    font-size: medium;
    font-family: 'Montserrat-Bold';
    color: white;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
    
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.feedback_form textarea::placeholder{
    color: rgba(255, 255, 255, 0.61);
}

.feedback_form button{
    width: 40px;
    height: 60%;
    
    writing-mode:vertical-lr;
    text-orientation: upright;
    
    padding-left: 1.7%;
    font-family: 'Montserrat-Bold';
    color: white;

    background-color: #803A24;
    border: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

    transition: all 0.2s ease-in-out 0s;

}

.feedback_form button:hover{
    transform: scale(1.1);
    cursor:pointer;
}

/* PAGE CONTENTS */

/* HOME */
#home {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-size: cover;
    background-image: url(images/front-page.png);
}

.home-logo{
    align-self: baseline;
    margin-top: 70px;
    width: 34%;
    height: 120px;

    object-fit:cover;
}

.home-div {
    width: 45%;
    height: 80%;
    
    border-radius: 50px;
    
    background-image: linear-gradient(#975E4D, #723420);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;

    padding-left: 2rem;
}

    /* HOME-DIV */

.home-div h1{
    color: #FFDCC8;
    font-family: 'Montserrat-Bold';
    font-size: 6.5vh;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px;

    width: 90%;
}

.home-div h3{
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 3.3vh;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
    
    width: 90%;
}

.home-div input{
    width: 50%;
    height: 3.5rem;
    
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 10px -6px black;
    
    /* Icon */
    background-image: url(images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 30px 10px;
    background-color: #D39775;
    
    /* Text */
    padding-left: 80px;
    font-size: large;
    font-family: 'Montserrat-Bold';
    color: white;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
}

.home-div input::placeholder{
    color: rgba(255, 255, 255, 0.61);
}

/* DIV SHOPS */

.home-shops{
    width: 65%;
    height: 3.5rem;
    
    background-color: rgba(67, 23, 9, 0.36);
    
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 10px 5px -3px rgba(0, 0, 0, 0.5);
    
    list-style-type: none;
    padding-left: 32px;
    padding-top: 10px;
}

.home-address{
    font-family: 'Montserrat-Bold';
    color: #320E06;
}

.home-number{
    font-family: 'Montserrat-Bold';
    color: #ECBEA4;
}

/* PRODUCTS */
#products {
    width: 100%;
    height: 100%;
    
    background-size: contain;
    background-repeat: repeat-x;
    background-position: 100%;
    background-image: url(images/second-page.png);
}

    /* PRODUCTS LISTS */

.products-lists{
    width: 75%;
    height: 100%;
    
    background-image: url(images/wave.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: 3%;

    display: flex;
    flex-flow: column;
    justify-content:center;
}

.products-lists h1{
    color: #FFDCC8;
    font-family: 'Montserrat-Bold';
    font-size: 6.3vh;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px;

    width: 70%;
}

.products-lists h3{
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 3.3vh;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;

    width: 90%;
}

    /* PROD-LIST-FLEX */

.prod-list-flex{
    width: 90%;
    height: 70%;
}

    /* PROD-LIST */

.prod-list{
    width: 90%;
    height: 34%;

    display: flex;
    justify-content:space-evenly;
}

    /* PRODUCT */

.product {
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: .2s ease-in-out;
}

.product:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.product h4{
    color: white;
    font-family: 'Montserrat-Bold';
    text-align: center;
    font-size: 1.1vw;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
    
    width: 90%;
}

.product img{
    width: 100%;
    height: 67%;
    
    border-radius: 5vh;
    
    border-style:dashed;
    border-color: #F5E3DC;
}

/* AFFILIATE */

#affiliate {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-image: url(images/last-page.png);
}

/* AFFILIATE DIV */

.affiliate-div {
    width: 45%;
    height: 80%;
    
    border-radius: 50px;
    
    background-image: linear-gradient(#975E4D, #723420);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    
    display: flex;
    flex-direction: column;

    padding-left: 2rem;
}

.affiliate-div h1{
    color: #FFDCC8;
    font-family: 'Montserrat-Bold';
    font-size: 6.5vh;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 1px;
    
    width: 90%;
}

/* AFFILIATE FORM */

.affiliate-form{
    width: 90%;
    height: 55%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 4;
    grid-gap: 0px 2.5%;
}

/* AFFILIATE INPUT */
.affiliate-input{
    width: 95%;
    height: 80%;
}

.affiliate-input h5{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
    font-family: 'Montserrat-Bold';
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.affiliate-input input{
    width: 100%;
    height: 70%;
    
    background-color: rgba(67, 23, 9, 0.36);
    
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 7px 5px -3px rgba(0, 0, 0, 0.5);
    
    font-family: 'Montserrat-Bold';
    color: white;
    padding-left: 32px;
    
    border: none; 
}

.affiliate-input input::placeholder{
    color: rgba(255, 255, 255, 0.61);
}

/* AFFILIATE SUBMIT */

.affiliate-form button{
    width: 95%;
    height: 80%;

    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 10px -6px black;
    
    background-color: #D39775;
    
    /* Text */
    font-size: medium;
    font-family: 'Montserrat-Bold';
    color: white;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
}